# Reading a JSON

Execute the code below :

In [ ]:
import json
import requests

link = "https://raw.githubusercontent.com/murpi/wilddata/master/quests/monthlySalesbyCategoryMultiple.json"

# This function gets the file content from the URL
r = requests.get(link)


# You can access to the text content with this function
r.text

'{ "contents": [\n  {\n    "category": "Furniture",\n    "region": "West",\n    "monthlySales":\n\n      [{\n        "month":20130101,\n        "sales":38\n      },\n      {\n        "month":20130201,\n        "sales":35\n      },\n      {\n        "month":20130301,\n        "sales":41\n      },\n      {\n        "month":20130401,\n        "sales":55\n      },\n      {\n        "month":20130501,\n        "sales":58\n      },\n      {\n        "month":20130601,\n        "sales":66\n      },\n      {\n        "month":20130701,\n        "sales":74\n      },\n      {\n        "month":20130801,\n        "sales":78\n      },\n      {\n        "month":20130901,\n        "sales":38\n      },\n      {\n        "month":20131001,\n        "sales":30\n      },\n      {\n        "month":20131101,\n        "sales":26\n      },\n      {\n        "month":20131201,\n        "sales":29\n      }\n    ]\n  },\n  {\n    "category": "Technology",\n    "region": "West",\n    "monthlySales":\n\n      [{\n        "month":20130101,\n        "sales":54\n      },\n      {\n        "month":20130201,\n        "sales":66\n      },\n      {\n        "month":20130301,\n        "sales":77\n      },\n      {\n        "month":20130401,\n        "sales":70\n      },\n      {\n        "month":20130501,\n        "sales":60\n      },\n      {\n        "month":20130601,\n        "sales":63\n      },\n      {\n        "month":20130701,\n        "sales":55\n      },\n      {\n        "month":20130801,\n        "sales":47\n      },\n      {\n        "month":20130901,\n        "sales":55\n      },\n      {\n        "month":20131001,\n        "sales":30\n      },\n      {\n        "month":20131101,\n        "sales":22\n      },\n      {\n        "month":20131201,\n        "sales":77\n      }\n    ]\n  }\n]} \n'

In [ ]:
# Try this
import json

data = json.loads( r.text)
data

{'contents': [{'category': 'Furniture',
   'region': 'West',
   'monthlySales': [{'month': 20130101, 'sales': 38},
    {'month': 20130201, 'sales': 35},
    {'month': 20130301, 'sales': 41},
    {'month': 20130401, 'sales': 55},
    {'month': 20130501, 'sales': 58},
    {'month': 20130601, 'sales': 66},
    {'month': 20130701, 'sales': 74},
    {'month': 20130801, 'sales': 78},
    {'month': 20130901, 'sales': 38},
    {'month': 20131001, 'sales': 30},
    {'month': 20131101, 'sales': 26},
    {'month': 20131201, 'sales': 29}]},
  {'category': 'Technology',
   'region': 'West',
   'monthlySales': [{'month': 20130101, 'sales': 54},
    {'month': 20130201, 'sales': 66},
    {'month': 20130301, 'sales': 77},
    {'month': 20130401, 'sales': 70},
    {'month': 20130501, 'sales': 60},
    {'month': 20130601, 'sales': 63},
    {'month': 20130701, 'sales': 55},
    {'month': 20130801, 'sales': 47},
    {'month': 20130901, 'sales': 55},
    {'month': 20131001, 'sales': 30},
    {'month': 20131101, 'sales': 22},
    {'month': 20131201, 'sales': 77}]}]}

# Manipulate the data

Now print for each category their total number of sales (without using a dataframe, just manipulating the dictionaries and lists).

Expected result:
- Furniture 568
- Technology 676

In [ ]:
category1 = data['contents'][0]['category']

category2 = data['contents'][1]['category']

print(category1)
print(category2)

Furniture
Technology

In [ ]:
first_sale_furniture = data['contents'][0]['monthlySales'][0]['sales']

first_sale_technology = data['contents'][1]['monthlySales'][0]['sales']

print(category1)
print(category2)

38
54

In [ ]:
data1 = data['contents'][0][ 'monthlySales']
sum = 0

for i in range(len(data1)):
  sum += data1[i]['sales']
print('Furniture', sum)

data2=data['contents'][1][ 'monthlySales']
sum = 0
for i in range(len(data2)):
  sum += data2[i]['sales']
print('Technology', sum)

Furniture 568
Technology 676