<a href="https://colab.research.google.com/github/yunuserbas/JSON/blob/main/2_Parse_JSON_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import json
import requests

link = "https://raw.githubusercontent.com/WildCodeSchool/java-jsonparse/master/weather.json"

# This function gets the file content from the URL
r = requests.get(link)

# You can access to the text content with this function
r.text

data = json.loads( r.text)
data

{'coord': {'lon': -0.13, 'lat': 51.51},
 'weather': [{'id': 300,
   'main': 'Drizzle',
   'description': 'light intensity drizzle',
   'icon': '09d'},
  {'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01n'}],
 'base': 'stations',
 'main': {'temp': 280.32,
  'pressure': 1012,
  'humidity': 81,
  'temp_min': 279.15,
  'temp_max': 281.15},
 'visibility': 10000,
 'wind': {'speed': 4.1, 'deg': 80},
 'clouds': {'all': 90},
 'dt': 1485789600,
 'sys': {'type': 1,
  'id': 5091,
  'message': 0.0103,
  'country': 'GB',
  'sunrise': 1485762037,
  'sunset': 1485794875},
 'id': 2643743,
 'name': 'London',
 'cod': 200}

In [ ]:
name = data['name']
print('City name:', name)

latitude =data['coord']['lat']
print('City latitude:', latitude)

longitude =data['coord']['lon']
print('City longitude:', longitude)

weather =data['weather'][0]['main']
print('Weather:', weather)

weather1 =data['weather'][1]['main']
print('Weather:', weather1)

City name: London
City latitude: 51.51
City longitude: -0.13
Weather: Drizzle
Weather: Clear

In [ ]:
import pandas as pd

# You can directly read JSON from your request object
print(r.json())

# And you can import JSON object to pandas
pd.json_normalize(r.json())

# You can scroll with the record_path argument
# and keep some information with meta argument
data = pd.json_normalize(r.json(), 'weather', ['name', 'visibility'])

data

{'coord': {'lon': -0.13, 'lat': 51.51}, 'weather': [{'id': 300, 'main': 'Drizzle', 'description': 'light intensity drizzle', 'icon': '09d'}, {'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01n'}], 'base': 'stations', 'main': {'temp': 280.32, 'pressure': 1012, 'humidity': 81, 'temp_min': 279.15, 'temp_max': 281.15}, 'visibility': 10000, 'wind': {'speed': 4.1, 'deg': 80}, 'clouds': {'all': 90}, 'dt': 1485789600, 'sys': {'type': 1, 'id': 5091, 'message': 0.0103, 'country': 'GB', 'sunrise': 1485762037, 'sunset': 1485794875}, 'id': 2643743, 'name': 'London', 'cod': 200}

    id     main              description icon    name visibility
0  300  Drizzle  light intensity drizzle  09d  London      10000
1  800    Clear                clear sky  01n  London      10000

In [ ]:
data[['main','name', 'visibility']]

      main    name visibility
0  Drizzle  London      10000
1    Clear  London      10000