In [11]:
import json
import requests
import  pandas  as pd

link="https://raw.githubusercontent.com/WildCodeSchool/java-jsonparse/master/weather.json"
#This function gets the file content from the URL
r = requests.get(link)

data= json.loads(r.text)
print(data)

{'coord': {'lon': -0.13, 'lat': 51.51}, 'weather': [{'id': 300, 'main': 'Drizzle', 'description': 'light intensity drizzle', 'icon': '09d'}, {'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01n'}], 'base': 'stations', 'main': {'temp': 280.32, 'pressure': 1012, 'humidity': 81, 'temp_min': 279.15, 'temp_max': 281.15}, 'visibility': 10000, 'wind': {'speed': 4.1, 'deg': 80}, 'clouds': {'all': 90}, 'dt': 1485789600, 'sys': {'type': 1, 'id': 5091, 'message': 0.0103, 'country': 'GB', 'sunrise': 1485762037, 'sunset': 1485794875}, 'id': 2643743, 'name': 'London', 'cod': 200}

In [4]:

#Format the data
print(json.dumps(data, indent=4))

{
    "coord": {
        "lon": -0.13,
        "lat": 51.51
    },
    "weather": [
        {
            "id": 300,
            "main": "Drizzle",
            "description": "light intensity drizzle",
            "icon": "09d"
        },
        {
            "id": 800,
            "main": "Clear",
            "description": "clear sky",
            "icon": "01n"
        }
    ],
    "base": "stations",
    "main": {
        "temp": 280.32,
        "pressure": 1012,
        "humidity": 81,
        "temp_min": 279.15,
        "temp_max": 281.15
    },
    "visibility": 10000,
    "wind": {
        "speed": 4.1,
        "deg": 80
    },
    "clouds": {
        "all": 90
    },
    "dt": 1485789600,
    "sys": {
        "type": 1,
        "id": 5091,
        "message": 0.0103,
        "country": "GB",
        "sunrise": 1485762037,
        "sunset": 1485794875
    },
    "id": 2643743,
    "name": "London",
    "cod": 200
}

In [5]:
#Display the value of the name attribut
print(f"City name:{data['name']}")

City name:London

In [6]:
#Display the latitude and the longitude of the coord elments
for key, value in data['coord'].items() :
    print(f'{key} --> {value}')

lon --> -0.13
lat --> 51.51

In [13]:
#Normalizing json to pandas dataFrame

data2 = [
    {"id":1, "name":{"first": "Coleen","last": "Volk"}},
    {"name":{"given":"Mark", "family":"Regner"}},
    {"id":2, "name":"Faye"},
]

In [14]:
pd.json_normalize(data2)

    id name.first name.last name.given name.family  name
0  1.0     Coleen      Volk        NaN         NaN   NaN
1  NaN        NaN       NaN       Mark      Regner   NaN
2  2.0        NaN       NaN        NaN         NaN  Faye

In [19]:
#Normalizing the weather data
pd.json_normalize(data, record_path="weather", meta=["name","visibility"]).drop(['id','description','icon'], axis=1)

      main    name visibility
0  Drizzle  London      10000
1    Clear  London      10000